* {
    margin: 0;
    padding: 0;
    border: 0;
}

.head-container {
    background-color: black;
    padding-bottom: 12.5em;
}

.head {
    font-family: 'PT Sans', sans-serif;
    font-size: 172px;
    text-align: center;
    padding-top: 200px;
    letter-spacing: 7px;
    font-weight: bolder;

    background: #1B8DCF;
    background: linear-gradient(to right, #1B8DCF 0%, #CF1F4E 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subhead {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #d6d6d6;
}

.super-head {
    background: #1B8DCF;
    font-size: 5rem;
    width: 100%;
    font-family: sans-serif;
    background: linear-gradient(to right, #1B8DCF 0%, #ce1546 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    text-align: center;
    padding-top: 2em;
    background-attachment: fixed;
}

.chip {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.chip-container {
    color: #252525;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    margin-top: 6em;
    margin-left: 7em;
    padding: 2em;
    margin-right: 25em;

    background: rgba(68, 68, 68, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    width: 1100px;
    align-items: center;
}

.chip-container h1 {
    font-size: 3.7rem;
    width: 550px;
}

.chip-container h2 {
    font-size: 1.2rem;
    color: #252525e1;
    margin-top: 1.5em;
    width: 550px;
}

.features {
    color: #252525;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10em;
    display: flex;
    justify-content: space-around
}

.features2 {
    margin-bottom: 2em;
    margin-top: -3em;
    text-align: center;
}

.features3 {
    text-align: center;
}

.thin {
    display: flex;
    padding-left: 5em;
}

.thin h2 {
    padding-top: 12em;
    padding-left: 2em;
}


/* --------- */


.dynamic-container {
    margin-top: 8em;
    padding: 2.5em;
    background-color: black;
}

.dynamic-container h1 {
    font-size: 10.5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #fad570;
    background-image: -webkit-linear-gradient(0deg, #ffd45f 0%, #724e01 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.dynamic-container-header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #C0C0C0;
    font-size: 2.7rem;
    ;
}

.dynamic-container img {
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 9em;
}
.dynamic-info{
    padding: 1em;
    height: 13em;
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    box-shadow:  -5px 5px 60px #fad570,
             5px -5px 60px #fad570;
             background: hsla(58, 100%, 63%, 1);

background: linear-gradient(45deg, #fad570 0%, #855b03  );
}
.dynamic-info h2{
    color: rgba(0, 0, 0, 0.884);
    letter-spacing: 0.3px;
    padding-left: 2em;
    line-height: 1.3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:2.3em;
    width: 50%;
}

.dynamic-info img{
    padding-right: 2em;
    height: 100%;
    width: 20em;
    padding-bottom: 2em;
    margin-top: -0.47em;
}

.vibrant{
    font-family:Arial, Helvetica, sans-serif;
    background: #21034f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff1b6b, #45caff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff1b6b, #45caff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.camera {
    margin-top: 5em;
    background-color: black;
    position: relative;
    text-align: center;
    color: #d6d6d6;
}
.camera img{
    padding-top: 25em;
    margin-bottom: 5em;
}
  
/* Centered text */
.camera-txt-1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    position: absolute;
    top: 5%;
    left: 13%;
}

.camera-txt-2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 10rem;
    top: 10%;
    left: 14%;
}

.camera-txt-3{
    font-size: 10rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 27%;
    left: 17%;
}

.camera-about{
    padding: 3em;
    font-size: 0.85rem;
    margin-top: 4em;
    box-shadow:  -5px 5px 60px #c0c0c0,
    5px -5px 60px #c0c0c0;
    background: #c0c0c0;
    border-radius: 15px;
    background: linear-gradient(45deg, #c0c0c0 0%, #c0c0c0  );
    
    color: #252525;
    background-color:#C0C0C0;
    letter-spacing: 0.03em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    width: 80%;
    line-height: 3em;
    margin: auto;
    text-align: center;
}